*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans' sans-serif;
}




body{
    height: 100vh;
    background-color: white;
    background-image: url('https://unsplash.com/photos/the-space-shuttle-is-flying-over-the-earth-WmbePYToF6c?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash');
    background-size: cover;
    background-position: center;

}
.vinod{
    float:left;
    width: 500px;
    height: 600px;
    unicode-bidi: isolate;
    padding: 60px;

}

main{
    width: 1600px;
    height: 700px;
    padding: 10px;
}
.img-info{
float: right;
align-items: center;
justify-content: center;
padding-top: 240px;
padding-right: 250px;
position: relative;
justify-content: space-between;
margin: 0 auto;
text-decoration: none;

    
}
.img-info h1{    
    font-size: 36px;
        color: rgb(175, 202, 19);
        width: 100%;   
        width: 600px;  
        position: relative;
        justify-content: space-between;
   



}
.img-info p{
        font-size: 26px;
        color: rgb(144, 207, 42);
        width: 100%;
        width: 800px; 
        position: relative;
        justify-content: space-between;


}







@media(max-width: 768px){
    .vinod{
        float:left;
        width: 500px;
        height: 600px;
        unicode-bidi: isolate;
        padding: 60px;
    }
    
    main{
        width: 1600px;
        height: 700px;
        padding: 10px;
    }
    .img-info{
    float: right;
    align-items: center;
    justify-content: center;
    padding-top: 240px;
    padding-right: 250px;
    
        
    }
    .img-info h1{    
        font-size: 36px;
            color: rgb(202, 19, 19);
            width: 100%;   
            width: 600px;  
    
    
    }
    .img-info p{
            font-size: 26px;
            color: rgb(177, 13, 35);
            width: 100%;
            width: 800px; 
    
    } 
}




li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(1, 48, 19);
    font-size: 1rem;
}
a:hover{
    color: orange;
}
Header{
    position: relative;
    padding: 0 1rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 2.4rem;
    font-weight: bold;
    color: blue;

}
.navbar .link{
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn{
    color: darkred;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: rgb(210, 77, 228);
    color: rgb(15, 15, 15);
    padding: 0.6rem 2 rem;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.1 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: aliceblue;
}
.action_btn:active{
    scale: 0.95;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgb(231, 213, 213);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 330px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}


@media(max-width: 992px) {
    .navbar .link,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }

    .img-info{
        float: right;
        align-items: center;
        justify-content: center;
        padding-top: 200px;
        padding-right: 250px;
        
            
        }
        .images{
            padding-top: 24px;  
            width: 20%;
            float: left;
            }
        main{
            width: 1200px;
            height: 550px;
            padding: 10px;
        }
        .vinod{
            float:left;
            width: 400px;
            height: 500px;
            unicode-bidi: isolate;

        }
        .img-info h1{
            width: 100%;   
            width: 400px; 
            font-size: 30px;
            color: rgb(73, 42, 207);
        }
        .img-info p{
            width: 100%;   
            width: 550px; 
            font-size: 28px;
            color: rgb(73, 42, 207);

        }
}
@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

    .img-info{
        float: right;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-right: 250px;
    }
    .images{
        padding-top: 24px;  
        width: 10%;
        float: left;
        }
    .img-info h1{
        width: 100%;   
        width: 300px; 
        font-size: 26px;
        color: aqua;

}

.img-info p{
    width: 100%;
        width: 400px; 
    font-size: 24px;
    color: black;

}
.vinod{
    float:left;
    width: 300px;
    height: 400px;
    unicode-bidi: isolate;

    }
    main{
        width: 1000px;
        height: 400px;
        padding: 10px;
    }
}




 