*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    position:relative;
}

.skills{
    position:relative;
    width:190%
    height:100vh;

}

.nav a{
    background: #ff0000;
    padding: 10px ;
    text_decoration: none;
    font-weight: bold;
    color: #000000;
    display: inline-block;
    margin: 80px 600px;
    border-radius: 6px;
    margin-top:60px;

}
nav{
    display: flex;
    width: 100%;
    margin: auto;
    align-items: left;
    justify-content: space_between;
}
.skills1 a{
    background: #ff0000;
    padding: 10px ;
    text_decoration: none;
    font-weight: bold;
    color: #000000;
    display: inline-block;
    margin: 60px 680px;
    border-radius: 6px;
}

nav ul li{
    display: inline-block;

    margin: 21px 55px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: blue;
}

.skills h1{
    margin: 00px 660px;
    width: 100%;
    color: brown;
}


#box1 {
    justify-content: space_between;
}

#box1 h2{
    text-align: center;
    width: 100%;
    color: #12115c;

}
.body{

    text-transform: uppercase;
}


#box1{
    width: 600px;
    margin: 21px 60px;
    color: #5c112b;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#box1{
    background-color: grey;
}
.bar{
    background: blue;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 60px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}


.HTML{
    width: 60%;
    animation: HTML 3s;
}
.CSS{
    width: 40%;
    animation: css 3s;
}
.JavaScript{
    width: 24%;
    animation: JavaScript 3s;
}
.C{
    width: 50%;
    animation: C 3s;
}

.Python{
    width: 20%;
    animation: Python 3s;
}









#box2 {

    width: 100%;
    margin: auto;
    align-items: left;
    justify-content: space_between;
}



#box2 h2{
    text-align: center;
    width: 100%;
    color: #12115c;

}
.body{

    text-transform: uppercase;
}


#box2{
    width: 600px;
    margin: 21px 60px;
    color: #5c112b;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#box2{
    background-color: grey;
}
.bar{
    background: blue;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;


}

.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 60px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}


.Panel {
    width: 98%;
    animation: Panel wiringL 3s;
}
.Electrical{
    width: 80%;
    animation: css 3s;
}
.Troubleshooting{
    width: 95%;
    animation: Troubleshooting 3s;
}





#box3 {
    justify-content: space_between;
}

#box3 h2{
    text-align: center;
    width: 100%;
    color: black;

}
.body{

    text-transform: uppercase;
}


#box3{
    width: 600px;
    margin: 21px 60px;
    color: red;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#box3{
    background-color: grey;
}
.bar{
    background: blue;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 60px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}


.Management{
    width: 90%;
    animation: Management Skill 3s;
}
.Planning{
    width: 80%;
    animation: Planning 3s;
}
.Organizing{
    width: 85%;
    animation: Organizing 3s;
}
.Coordinating{
    width: 90%;
    animation: Coordinating 3s;
}
.Directing{
    width: 90%;
    animation: Directing 3s;
}
.Leadership{
    width: 95%;
    animation: Leadership 3s;
}
.Responding{
    width: 80%;
    animation: Responding to Feedback 3s;
}








#box4 {

    width: 100%;
    margin: auto;
    align-items: left;
    justify-content: space_between;
}



#box4 h2{
    text-align: center;
    width: 100%;
    color: black;

}
.body{

    text-transform: uppercase;
}


#box4{
    width: 600px;
    margin: 21px 60px;
    color: red;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#box4{
    background-color: grey;
}
.bar{
    background: blue;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 60px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}


.Analytic{
    width: 95%;
    animation: Analytic thinking 3s;
}
.Minimum{
    width: 90%;
    animation: Minimum Supervision 3s;
}
.Time{
    width: 95%;
    animation: Time management 3s;
}
.Reliability{
    width: 85%;
    animation: Reliability 3s;
}





#box5 {

    width: 100%;
    margin: auto;
    align-items: left;
    justify-content: space_between;
}



#box5 h2{
    text-align: center;
    width: 100%;
    color: black;

}
.body{

    text-transform: uppercase;
}


#box5{
    width: 600px;
    margin: 21px 60px;
    color: red;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#box5{
    background-color: grey;
}
.bar{
    background: blue;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;


}

.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 60px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}


.Microsoft{
    width: 80%;
    animation: Microsoft Office 3s;
}
.AutoCad{
    width: 60%;
    animation: AutoCad 3s;
}







#box6 {

    width: 100%;
    margin: auto;
    align-items: left;
    justify-content: space_between;
}



#box6 h2{
    text-align: center;
    width: 100%;
    color: black;

}
.body{

    text-transform: uppercase;
}


#box6{
    width: 600px;
    margin: 21px 60px;
    color: red;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#box6{
    background-color: #ced4db;
}
.bar{
    background: blue;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;


}

.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 60px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}


.PLC{
    width: 60%;
    animation: Analytic thinking 3s;
}
.Robot{
    width: 80%;
    animation: Minimum Supervision 3s;
}
.Cobot{
    width: 90%;
    animation: Time management 3s;
}
.Scara{
    width: 70%;
    animation: Reliability 3s;
}






#outer-box{
    width: 1480px;
    height: 1124px;

    display:flex;
    flex-wrap:wrap;
    gap:0px;

}

#box1{
    width:500px;
    height:1000px;
    margin: 40px 120px;
    background-color: #ced4db;
}
#box2{
    width:500px;
    height:1000px;
    margin: 40px 0px;
    background-color: #ced4db;
}

